html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

/* Example 1: BASIC TWO ROW GRID LAYOUT */
.container-basic{
    display:grid;
    height: 100vh;
    background: #f0f0f0;
    grid-template-rows: 1fr auto; /* 1st row (1fr) stretches to fill space, 2nd row (auto) fits its content (good for footers, buttons at the bottom, etc). */
    gap:20px;
    padding:20px;
}
.box, .box2 {
    background: lightblue;
    padding: 20px;
    text-align: center;
}

/* Example 2: BASIC TWO ROW GRID LAYOUT */

.container-three-columns{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    padding:20px;
    background: #ffe0e0;
}
.item {
    background: pink;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

/* Example 3:: NESTED GRID INSIDE AN ITEM */

.container-nested{
    display:grid;
    padding:20px;
    background:#e0ffe0;
}
.outer-item {
    background: lightgreen;
    padding: 20px;
}
.nested-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.nested-item {
    background: white;
    padding: 15px;
    text-align: center;
}

/* EXAMPLE 4: Auto-fill and Responsive Boxes */
.container-auto-fill{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(150px, 1fr)); /* auto-fill creates as many columns as will fit, 150px wide, but will grow to fill available space*/
    gap:10px;
    padding:20px;
    background: #e0e0ff;
}
.responsive-item {
    background: lightsteelblue;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}